<h1 class="text-center">edit my profile</h1>
<br />
<%= render 'form' %>
<div class="text-center">
  <%= link_to 'Delete teams.tf profile', user_path(@user), :confirm => 'Are you sure you would like to delete your account?', :method => :delete, :class => "btn-lg btn-danger white-link" %>
</div>
