<h2 class="text-center alert alert-danger" role="alert">access to this feature or page requires login</h2>
<hr />
<p class="text-center well well-lg">Please login through Steam using the top right button to access this feature or page</p>
