<h1>Access to this feature or page requires login</h1>
<br />
<p>Please login through steam using the header button or the button below to access this feature/page</p>
<%= link_to image_tag("http://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_small.png"), '/auth/steam' %>
