<h1 class="text-center">goodbye!</h1>
<hr />
<p class="text-center">We are sorry to see you go.</p>
<p class="text-center">If you have any suggestions on what we can improve, bugs we need to fix, or just want to tell us why you are leaving, feel free to contact us <%= link_to "here", contact_path %>.</p>
