<% if session.key? :user %>
  <h3>Current user:</h3>
  <%= image_tag session[:user][:image] %>
  <p><%= session[:user][:nickname] %></p>
  <p>
    <%= link_to "logout", '/logout' %>
  </p>
<% else %>
  <%= link_to image_tag("http://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_large_border.png"), '/auth/steam' %>
<% end %>
