<h2 class="text-center">Looking For Players</h2>
<hr />
<br />
<p class="text-center">
  <%= link_to "view players", players_path, :class => "btn-lg btn-special" %>
  <br />
  <br />
  <%= link_to "advertise your team", new_team_path, :class => "btn-lg btn-special" %>
</p>
