<h2 class="text-center">Looking For Teams</h2>
<hr />
<br />
<p class="text-center">
  <%= link_to "view teams", teams_path, :class => "btn-lg btn-special" %><br />
  <br />
  <%= link_to "advertise yourself", new_player_path, :class => "btn-lg btn-special" %><br />
</p>
