<div class="footer">
  <div class="container">
    <br />
    <p class="text-muted" id="footer-text">
      <%= link_to "About", about_path %><br />
      <%= link_to "Contact", contact_path %><br />
      <%= link_to "Powered by Steam", "http://steampowered.com" %><br />
    </p>
  </div>
</div>
